#gracious{
      background-color: white;
}

#wrapper {
  margin-top: 100px;
    text-align: center;
    background-color: white;
}


#spiderDiv{
  margin-top: 20px;
  font-weight: bold;
}

#clickButton{
  margin-top: 20px;
  background: #E83131;
  border-radius: 24px;
}

#Labels{
  margin: auto;
  width: 30%;
  text-align: center;
}
